.button {
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.04em;
  display: inline-block;
  width: 240px;
  min-height: 60px;
  border: 1px solid $golden-text;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  padding: 9px;

  @include hover-effect;

  @media (max-width: 767px) {
    min-height: 50px;
  }
}
