.page-footer {
  position: absolute;
  bottom: 0;
  color: $golden-text;
  width: 100%;

  a {
    @include hover-effect;
  }

  &--not-main {
    position: unset;
    background-color: $light-beige-background;
    color: $dark-beige-text;

    .page-footer__nav {
      border-top: 1px solid $dark-beige-text;
      border-bottom: 1px solid $dark-beige-text;
    }
  }
}

.page-footer__container {
  margin: 0 auto;
  width: calc(1127 / 1366 * 100%);
}

.page-footer__nav {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  border-top: 1px solid $golden-text;
  border-bottom: 1px solid $golden-text;

  @media (max-width: 1200px) {
    display: none;
  }

  .nav__list {
    margin: 20px 0;
  }
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 45px;

  div {
    width: 33%;
    text-align: center;
  }
}

.page-footer__confidence {
  text-align: end;
  font-family: $roboto;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;

  p {
    margin: 0;
    white-space: pre-wrap;
  }
}

.page-footer__logo img {
  width: 184px;
}

.page-footer__confidence-mobile {
  display: none;
}

@media (max-width: 767px) {
  .page-footer {
    padding: 0 15px;
  }

  .page-footer__container {
    width: 100%;
  }

  .page-footer__wrapper {
    flex-direction: column;
    padding: 0;
    padding-bottom: 30px;

    div {
      width: auto;
    }
  }

  .page-footer__logo {
    order: 1;

    img {
      width: 130px;
      height: auto;
    }
  }

  .page-footer__social {
    order: 2;

    .social-block__list {
      margin: 5px auto 20px;
    }
  }

  .page-footer__confidence {
    order: 3;
    text-align: center;

    p {
      white-space: unset;
    }

    span {
      display: none;
    }

    .page-footer__confidence-mobile {
      display: inherit;
      margin-top: 20px;
    }
  }

  .page-footer--not-main {
    .page-footer__container {
      padding-top: 30px;
      border-top: 1px solid $dark-beige-text;
    }
  }
}
