.sidebar {
  width: 182px;
  margin-right: 50px;
  color: $dark-beige-text;
}

.sidebar__filters-reset,
.sidebar__select-block {
  display: none;
}

.sidebar fieldset {
  border: none;
  padding: 0 0 4px;
  border-bottom: 1px solid $dark-beige-text;
  margin-left: 0;
  margin-right: 0;
}

.sidebar .price-scale {
  border-bottom: none;
  padding-bottom: 17px;
}

.sidebar legend {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.04em;
  padding: 16px 0;
  width: 100%;
}

.sidebar label {
  font-family: $roboto;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  display: block;
  position: relative;
  padding: 0 0 10px 27px;

  cursor: pointer;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid $dark-beige-text;
    position: absolute;
    left: 0;
  }
}

.sidebar input:checked + label::after {
  content: "";
  width: 8px;
  height: 8px;
  border: 4px solid $dark-beige-text;
  position: absolute;
  left: 4px;
  top: 4px;
}

.sidebar input {
  display: none;
}

.sidebar__legend-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sidebar__legend-wrapper button {
  border: none;
  width: 15px;
  height: 15px;
  background: url("../img/accordion-open.svg") no-repeat center;
  background-color: none;
}

@media (max-width: 767px) {
  .sidebar {
    position: absolute;
    z-index: 2;
    background-color: $grey-border;
    width: 305px;
    top: -40px;

    form {
      width: 212px;
      padding: 0 15px;
    }
  }

  .sidebar__filters-reset,
  .sidebar__select-block {
    display: block;
    padding-left: 15px;
    padding-right: 20px;
  }

  .sidebar__filters-reset {
    color: $red;
    letter-spacing: 0.04em;
    font-size: 18px;
    line-height: 18px;
  }

  .sidebar__filters-wrapper {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $dark-beige-text;

    a {
      display: inline-block;
      width: 100%;
      padding: 5px 20px 5px 0;
      background: url("../img/close-icon-mob.svg") no-repeat right;
    }
  }

  .sidebar__select-block {
    padding-top: 27px;
    padding-bottom: 34px;

    select {
      border: 0;
      background-color: transparent;
      color: inherit;
      cursor: pointer;
      font-size: 18px;
      line-height: 18px;
    }
  }
}
