.sidebar {
  width: 182px;
  margin-right: 50px;
  color: $dark-beige-text;

  button {
    cursor: pointer;

    @include hover-effect;
  }
}

.sidebar__filters-reset,
.sidebar__select-block {
  display: none;
}

.sidebar fieldset {
  border: none;
  padding: 0;
  border-bottom: 1px solid $dark-beige-text;
  margin-left: 0;
  margin-right: 0;
}

.sidebar .price-scale {
  border-bottom: none;
  padding-bottom: 17px;
}

.sidebar legend {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.04em;
  padding: 16px 0 12px;
  width: 100%;
}

.sidebar label {
  font-family: $roboto;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  display: block;
  position: relative;
  padding: 0 0 11px 27px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid $dark-beige-text;
    position: absolute;
    left: 0;
  }
}

.sidebar input:checked + label::after {
  content: "";
  width: 8px;
  height: 8px;
  border: 4px solid $dark-beige-text;
  position: absolute;
  left: 4px;
  top: 4px;
}

.sidebar input {
  display: none;
}

.sidebar__legend-button {
  width: 100%;
  padding-left: 0;
  padding-right: 15px;
  text-align: left;
  letter-spacing: 0.04em;
  color: inherit;
  border: none;
  background: url("../img/accordion-open.svg") no-repeat right;
  background-color: none;

  &:focus {
    outline: none;
  }

  &--closed {
    background-image: url("../img/accordion-close.svg");
  }
}

@media (max-width: 767px) {
  .sidebar {
    position: absolute;
    z-index: 2;
    background-color: $grey-border;
    width: 305px;
    top: -40px;
    height: 100%;

    &--closed {
      display: none;
    }

    form {
      width: 212px;
      padding: 0 15px;
    }
  }

  .sidebar__filters-reset,
  .sidebar__select-block {
    display: block;
    padding-left: 15px;
    padding-right: 20px;
  }

  .sidebar__filters-reset {
    color: $red;
    letter-spacing: 0.04em;
    font-size: 18px;
    line-height: 18px;
  }

  .sidebar__filters-wrapper {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $dark-beige-text;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      @include hover-effect;

      padding: 5px 0 5px 0;
      border: none;
      color: $red;
      background-color: inherit;

      &:focus {
        outline: none;
      }
    }
  }

  .sidebar .price-scale {
    border-top: 1px solid $dark-beige-text;
    padding-top: 29px;
  }

  .sidebar__close-button {
    width: 14px;
    height: 14px;
    border: none;
    background: url("../img/close-icon-mob.svg") no-repeat center;
    background-color: none;
  }

  .sidebar__select-block {
    padding-top: 27px;
    padding-bottom: 34px;

    select {
      border: 0;
      background-color: transparent;
      color: inherit;
      cursor: pointer;
      font-size: 18px;
      line-height: 18px;

      &:focus {
        outline: none;
      }
    }
  }
}
