.social-block__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  width: 100px;
}

.social-block__item {
  @include hover-effect;
  margin-right: 17px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-child(n+4) {
    margin-top: 5px;
  }

  a::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    height: 18px;
    width: 22px;
  }

  &--vk a::before {
    background-image: url("../img/vk.svg");
  }

  &--facebook a::before {
    background-image: url("../img/fb.svg");
  }

  &--instagram a::before {
    background-image: url("../img/inst.svg");
  }
}

.social-block__list--dark {
  .social-block__item {
    &--vk a::before {
      background-image: url("../img/vk-promo.svg");
    }

    &--facebook a::before {
      background-image: url("../img/fb-promo.svg");
    }

    &--instagram a::before {
      background-image: url("../img/inst-promo.svg");
    }
  }
}

.social-block__list--light-dark {
  .social-block__item {
    &--vk a::before {
      background-image: url("../img/vk-dark.svg");
    }

    &--facebook a::before {
      background-image: url("../img/fb-dark.svg");
    }

    &--instagram a::before {
      background-image: url("../img/inst-dark.svg");
    }
  }

  @media (max-width: 767px) {
    .social-block__item {
      &--vk a::before {
        background-image: url("../img/vk.svg");
      }

      &--facebook a::before {
        background-image: url("../img/fb.svg");
      }

      &--instagram a::before {
        background-image: url("../img/inst.svg");
      }
    }
  }
}
