// .swiper-slide {
//   opacity: 0.1;
// }

.swiper-slide-active,
.swiper-slide-prev,
.swiper-slide-next {
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  top: 26%;
  right: 55px;

  &::after {
    content: "";
    width: 15px;
    height: 40px;
    background: url("../img/arrow-right.svg") no-repeat;
    cursor: pointer;
  }
}

.swiper-button-prev {
  right: auto;
  left: 55px;

  &::after {
    background: url("../img/arrow-left.svg") no-repeat;
  }
}
